html,
body {
  font-family: $main-font, sans-serif;
  font-size: $standart-font-size;
  background-color: $white;
  color: $textColor;
  height: 100%;
  width: 100%;
}

body.lock {
  overflow: hidden;
}

.wrapper {
  position: relative;
  top: 0;
  left: 0;
  overflow: hidden;
  min-height: 100%;
}
.container {
  max-width: $container-width;
  margin: 0 auto;
  padding: 0px 15px;
}

// Header
.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 155px;
  z-index: 1;
}

.header::before {
  position: absolute;
  content: "";
  top: -100vh;
  left: 0;
  display: block;
  width: 100%;
  height: 100vh;
  background-color: $burgerMenuColor;
  z-index: 2;
  transition: all 0.5s ease-out;
}

.header.active::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100vh;
  background-color: $burgerMenuColor;
  z-index: 2;
}

.header__items {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 3;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__logo {
  position: absolute;
  top: 30px;
  left: 50%;
  transform: translateX(-45%);
  z-index: 3;
}

.header__logo img {
  width: 100px;
}

.header__menuitem {
  display: flex;
  min-width: 100%;
}

.header__link > a {
  font-size: 13px;
  color: #4d4959;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.header__link:nth-child(1) {
  position: relative;
  top: 0;
  left: 0;
  margin-right: 50px;
}

.header__link:nth-child(1)::after {
  content: "";
  position: absolute;
  display: block;
  top: 7px;
  left: 109px;
  background-color: #4d4959;
  width: 5px;
  height: 5px;
  border-radius: 100%;
}

.header__link:nth-child(2) {
  position: relative;
  top: 0;
  left: 0;
  margin-right: 100px;
}

.header__link:nth-child(3) {
  position: relative;
  top: 0;
  left: 0;
  margin-left: 100px;
}

.header__link:nth-child(3)::after {
  content: "";
  position: absolute;
  display: block;
  top: 7px;
  left: 70px;
  background-color: #4d4959;
  width: 5px;
  height: 5px;
  border-radius: 100%;
}

.header__link:nth-child(4) {
  margin-left: 50px;
}

.header__burger {
  display: none;
}

// Main

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.fullscreen {
  height: 100vh;
  background-image: url("/src/img/main_bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

// .vintagebike {
// }
// .footer {
// }

// Media request for burger menu
@media (max-width: $media-s) {
  .header__burger {
    display: block;
    position: absolute;
    top: 70px;
    right: 15px;
    width: 30px;
    height: 20px;
  }

  .header__burger::after,
  .header__burger::before {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: $logoColor;
    transition: all 0.2s ease-out;
  }

  .header__burger::after {
    content: "";
    top: 0;
    left: 0;
  }

  .header__burger.active::after {
    content: "";
    top: 9px;
    left: 0;
    transform: rotate(45deg);
  }

  .header__burger::before {
    content: "";
    bottom: 0;
    left: 0;
  }

  .header__burger.active::before {
    content: "";
    bottom: 9px;
    left: 0;
    transform: rotate(-45deg);
  }

  .header__burger span {
    content: "";
    position: absolute;
    top: 9px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: $logoColor;
    transition: all 0.2s ease-out;
  }

  .header__burger.active span {
    content: "";
    position: absolute;
    top: 9px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: $logoColor;
    transform: scale(0);
  }

  .header__menuitem {
    position: absolute;
    top: -200px;
    left: 0;
    display: flex;
    height: 200px;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    transition: all 0.5s ease-out;
  }

  .header__menuitem.active {
    position: absolute;
    top: 170px;
    left: 1%;
    display: flex;
    height: 200px;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }

  .header__link:nth-child(1) {
    margin-right: 0px;
  }

  .header__link:nth-child(1)::after {
    display: none;
  }

  .header__link:nth-child(2) {
    margin-right: 0;
  }

  .header__link:nth-child(3) {
    margin-left: 0;
  }

  .header__link:nth-child(3)::after {
    display: none;
  }

  .header__link:nth-child(4) {
    margin-left: 0px;
  }

  .header__link > a {
    font-size: $middle-font-size;
    color: $white1;
    text-transform: uppercase;
  }
}
