html,
body {
  font-family: $main-font, sans-serif;
  font-size: $standart-font-size;
  background-color: $white;
  color: $textColor;
  height: 100%;
  width: 100%;
}

body.lock {
  overflow: hidden;
}

[class*="__container"] {
  max-width: $container-width;
  margin: 0 auto;
  padding: 0px 15px;
  height: 100%;
}

.page {
  @include position(relative, 0, 0, 0);
  @include flex(flex, column, center);
  overflow: hidden;
  min-height: 100%;
}

/* Header */
.header {
  @include position(absolute, 0, 0, 0);
  z-index: 2;
  width: 100%;
  height: 160px;
  &__row {
    @include flex(flex, row, center);
    justify-content: space-between;
    height: 100%;
  }
  &__icon {
    @include position(absolute, 35px, 50%, -45%);
    z-index: 5;
    img {
      width: 96px;
    }
  }
  &__nav {
    width: 100%;
  }
  &__body {
    @include flex(flex, row, center);
    justify-content: center;
    width: 100%;
  }
  &__item a {
    font-size: $quite-font-size;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: $headerMenuText;
  }
  &__item:nth-child(1) {
    margin-right: 75px;
  }
  &__item:nth-child(2) {
    margin-right: 100px;
  }
  &__item:nth-child(3) {
    margin-left: 100px;
  }
  &__item:nth-child(4) {
    margin-left: 75px;
  }
  &__burger {
    display: none;
  }
}

/* Main screen */
.main__screen {
  @include backgroundImage("/src/img/main_bg.jpg");
  width: 100%;
}

/* Content */
.content {
  height: 100%;
  width: 100%;
}

/* Brands */
.brands {
  height: 100%;
  width: 100%;
}

/* Article */
.article {
  &_white1 {
    background-color: $white1;
  }
  &__block {
    @include flex(flex, column, center);
    &_big {
      padding: 77px 0 142px 0;
    }
  }
  &__icon {
    margin-bottom: 32px;
    > img {
      width: 50px;
    }
  }
  &__text {
    > p {
      color: $textColor;
      line-height: 1.8;
    }
    &_big {
      > p {
        text-align: justify;
        font-size: $middle-font-size;
      }
    }
  }
}
.title {
  font-size: $middle-font-size;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: $h1Color;
  text-align: center;
  margin-bottom: 32px;
}

/* Brand-item */
.brand-item {
  height: 100%;
  width: 100%;
  &__2-col {
    height: 100%;
    display: flex;
    @media (max-width: $media-xl) {
      height: 100%;
      display: flex;
      flex-direction: column;
    }
  }
  &__big-column_2-col {
    flex: 0 1 66.667%;
  }
  &__link {
    height: 100%;
    display: block;
    position: relative;
  }
  .link {
    &__logo {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      z-index: 2;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: $logoColor;
      opacity: 0.5;
      visibility: hidden;
      transition: all 0.2s ease-out;
      > img {
        width: 116px;
      }
    }
    &__img_generation {
      @include position(absolute, 0, 0, 0);
      @include backgroundImageBlock("/src/img/main_bg_2.jpg", 100%, 100%);
    }
  }
  &__link:hover > .link__logo {
    opacity: 0.5;
    visibility: visible;
  }
}

.article {
  &_white2 {
    flex: 0 1 33.333%;
    background-color: $white;
    height: 100%;
  }
  &__block {
    &_little {
      padding: 69px 0 94px 0;
    }
  }
  &__text {
    &_little {
      > p {
        text-align: justify;
        font-size: $standart-font-size;
        padding: 0 68px 0 68px;
      }
      &::after {
        content: "";
        display: block;
        position: relative;
        top: 51px;
        left: 50%;
        transform: translateX(-50%);
        width: 55px;
        height: 2px;
        background-color: $grayLine;
      }
    }
  }
  &__img {
    display: block;
    &::before {
      content: "";
      display: block;
      position: relative;
      bottom: -20px;
      width: 0;
      height: 0;
      margin-left: 50%;
      transform: translateX(-50%);
      border-right: 20px solid transparent;
      border-left: 20px solid transparent;
      border-top: 20px solid #fff;
    }
  }
}

/* Brand-item__2-col_reverse */
.brand-item__2-col_reverse {
  flex-direction: row-reverse;
  @media (max-width: $media-xl) {
    height: 100%;
    display: flex;
    flex-direction: column;
  }
}
.link__img_vintage {
  @include position(absolute, 0, 0, 0);
  @include backgroundImageBlock("/src/img/main_bg_3.jpg", 100%, 100%);
}

/* 3-col block */
.brand-item {
  height: 100%;
  @media (max-width: $media-xl) {
    height: 100%;
    display: flex;
    flex-direction: column;
  }
  &__3-col {
    display: flex;
    flex-direction: row;
    @media (max-width: $media-xl) {
      height: 100%;
      display: flex;
      flex-direction: column;
    }
  }
  &__first-column {
    flex: 0 1 33.333%;
  }
  &__link {
    height: 100%;
    display: block;
    position: relative;
  }
  &__third-column {
    flex: 0 1 33.333%;
  }
}
.link {
  &__img {
    &_left {
      @include position(absolute, 0, 0, 0);
      @include backgroundImageBlock(
        "/src/img/rectangle_left_image.jpg",
        100%,
        100%
      );
    }
    &_rigth {
      @include position(absolute, 0, 0, 0);
      @include backgroundImageBlock(
        "/src/img/rectangle_right_image.jpg",
        100%,
        100%
      );
    }
  }
}
.article {
  &__icon_3-col {
    img {
      width: 23px;
    }
  }
}

/* Twitter */
.twitter {
  background-color: $white1;
  &__block {
    @include flex(flex, column, center);
    padding: 100px 0 150px 0;
    @media (max-width: $media-xl) {
      padding: 60px 0 50px 0;
    }
  }
  &__icon {
    margin-bottom: 25px;
  }
  &__title {
    align-items: center;
    font-size: $middle-font-size;
    font-weight: $regular;
    color: $burgerMenuColor;
    letter-spacing: 1px;
    margin-bottom: 25px;
    span {
      font-size: $standart-font-size;
      font-style: italic;
    }
  }
  &__article {
    > p {
      text-align: justify;
      line-height: 1.6;
      font-size: $standart-font-size;
    }
  }
}

/* Media request */
@media (max-width: $media-s) {
  /* Burger */
  .header__burger {
    display: block;
    position: absolute;
    top: 70px;
    right: 15px;
    width: 30px;
    height: 20px;
    & span {
      content: "";
      position: absolute;
      top: 9px;
      left: 0;
      width: 100%;
      height: 2px;
      background-color: $logoColor;
      transition: all 0.2s ease-out;
    }
    &.active span {
      transform: scale(0);
    }
  }
  .header__burger::after,
  ::before {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    transition: all 0.2s ease-out;
  }
  .header__burger::after {
    content: "";
    top: 0px;
    left: 0;
    background-color: $logoColor;
  }
  .header__burger.active::after {
    top: 9px;
    transform: rotate(45deg);
    background-color: $logoColor;
  }
  .header__burger::before {
    content: "";
    bottom: 0px;
    left: 0;
    background-color: $logoColor;
  }
  .header__burger.active::before {
    bottom: 9px;
    transform: rotate(-45deg);
  }

  /* Header body */
  .header__body {
    @include position(absolute, -100vh, 0, 0);
    @include flex(flex, column, center);
    justify-content: flex-start;
    padding: 200px 0 0 0;
    width: 100%;
    height: 100vh;
    background-color: $burgerMenuColor;
    transition: all 0.5s ease-out;
  }
  .header__body.active {
    @include position(absolute, 0, 0, 0);
  }
  .header__item {
    padding-bottom: 35px;
  }
  .header__item a {
    font-size: $middle-font-size;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: $white1;
  }
  .header__item:nth-child(1) {
    margin-right: 0;
  }
  .header__item:nth-child(2) {
    margin-right: 0;
  }
  .header__item:nth-child(3) {
    margin-left: 0;
  }
  .header__item:nth-child(4) {
    margin-left: 0;
  }

  /* Content */
  .generation {
    padding: 60px 0 60px 0;
    background-color: $white1;
  }

  /* Article */
  .article__block_big {
    padding: 40px 0 40px 0;
  }
}
