//Color
$black: #0f0f0f;
$white1: #f7f7f7;
$white: #ffffff;
$textColor: #848789;
$h1Color: #353738;
$headerMenuText: #4d4959;
$burgerMenuColor: #282f35;
$logoColor: #64c29e;
//Size width
$container-width: 1130px;
$media-xl: 1199px;
$media-md: 991px;
$media-s: 767px;
// Fonts
$main-font: "Loto";
$large-font-size: 24px;
$middle-font-size: 18px;
$standart-font-size: 16px;
$quite-font-size: 13px;
$bold: 700;
$regular: 400;
$italic: 400;
